*.env
*.zip
*.img
user-data
*.code-workspace
.htpasswd
/secrets/*
ToDo
/HOMEcloud/containers/webdav/*
/HOMEservices/containers/auth-pi/*
/HOMEservices/containers/traefik/rules/*
*.DS_Store
glances.config

!*.EXAMPLE
!tls-opts.yml
!middlewares-chaines.toml