[http.routers]
  [http.routers.sea-pi-rtr]
      entryPoints = ["https"]
      rule = "Host(`sea-pi.YOUR.DOMAIN`)"
      service = "sea-pi-svc"
      middlewares = ["chain-no-auth@file"]
      [http.routers.sea-pi-rtr.tls]
        certresolver = "dns-cloudflare"

[http.services]
  [http.services.sea-pi-svc]
    [http.services.sea-pi-svc.loadBalancer]
      passHostHeader = true
      [[http.services.sea-pi-svc.loadBalancer.servers]]
        url = "http://LOCALSEAFILEIP:SEAFILEPORT" # or whatever your external host's IP:port is